@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=JetBrains+Mono:wght@600;700;800&family=Orbitron:wght@400;500&display=swap');

::selection {
  background-color: #1fff9e4f;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --foreground-rgb: #000000;
  --background-start-rgb: #ffffff;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #181818;
    --background-end-rgb: #000000;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
    scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}